venv/
docs/
__pycache__/
trash/
.env
spectra/
library/
spectra_new/
rm2442-1.XLSX
spectra_test
library_2
**/.DS_Store
*.txt
*.zip
Library_Heavy_minerals
working_maps
model
jupiter.ipynb
test.sh/
tests.py/
*.csv
